<template>
  <default-layout>
    <div class="table__pagination">
      <div style="min-height: 750px">
        <table class="table">
          <thead>
          <tr>
            <th>More</th>
            <th>
              <div class="position-relative">
                <input type="text" class="form-control" placeholder="Stock" v-model="search.code">
                <button class="btn btn__sort" @click="sort('stock_code')"><i class="fas">&#x21c5;</i></button>
              </div>
            </th>
            <th>
              <div class="position-relative">
                <input type="text" class="form-control" placeholder="Company" v-model="search.name">
                <button class="btn btn__sort" @click="sort('company')"><i class="fas">&#x21c5;</i></button>
              </div>
            </th>
            <th style="width: 120px">
              <div class="position-relative">
                <input type="text" class="form-control" placeholder="Sector" v-model="search.sector">
              </div>
            </th>
            <th>Target price</th>
            <th>Current price (Report)</th>
            <th style="padding: 0px 35px">
              <button @click="sort('rate')">
                Rate <i class="fas">&#x21c5;</i>
              </button>
            </th>
            <th style="width: 180px">
              <div class="position-relative">
                <input type="text" class="form-control" placeholder="Recommendation" v-model="search.recommendation">
              </div>
            </th>
            <th>
              <div class="position-relative">
                <input type="text" class="form-control" placeholder="Source" v-model="search.source">
              </div>
            </th>
            <th style="padding: 0px 25px">Updated date</th>
            <th style="width: 120px">Current price ({{ timestamp }})</th>
            <th>Report</th>
            <th></th>
          </tr>
          </thead>
          <tbody v-for="(value, index) in paginatedData" :key="index" class="accordion">
          <tr>
            <td>
              <div class="btn__collapse">
                <a data-toggle="collapse" :class="{collapsed: showRelated(value.id)}" :href="'#report-'+value.id"
                   role="button" aria-expanded="true"
                   :aria-controls="'report-'+value.id" @click="toggleRelated(value.id, value.stock_id)"
                   title="Related reports">
                  <i class="fas" aria-hidden="true"></i>
                </a>
              </div>
            </td>
            <td class="collapse-toggle text-center">
              <router-link :to="{ name: 'enterprise.detail', params: {id: value.stock_id }}" class="text-decoration-none" title="Stock info">
                {{ value.stock_code }}
              </router-link>
            </td>
            <td class="text-center">
              {{ value.company }}
            </td>
            <td class="text-center">
              {{ value.sector }}
            </td>
            <td class="text-center">
              {{ value.target_price }}
            </td>
            <td class="text-center">
              {{ value.current_price_report }}
            </td>
            <td class="text-center">
            <span style="color: green" v-if="value.rate > 0">
              <i class="fas fa-arrow-up"></i>{{ value.rate }}%
            </span>
              <span style="color: red" v-else>
              <i class="fas fa-arrow-down"></i>{{ value.rate }}%
            </span>
            </td>
            <td class="text-center">
              <span style="color: green" v-if="green_recmd.includes(value.recommendation.toLowerCase())">
                {{ value.recommendation }}
              </span>
                <span style="color: orange" v-if="yellow_recmd.includes(value.recommendation.toLowerCase())">
                {{ value.recommendation }}
              </span>
                <span style="color: red" v-if="red_recmd.includes(value.recommendation.toLowerCase())">
                {{ value.recommendation }}
              </span>
            </td>
            <td class="text-center">
              {{ value.source }}
            </td>
            <td class="text-center">
              {{ value.published_date }}
            </td>
            <td class="text-center">
            <span style="color: green" v-if="value.current_price > value.current_price_report">
              <i class="fas fa-arrow-up"></i>{{ value.current_price }}
            </span>
              <span style="color: red" v-else>
              <i class="fas fa-arrow-down"></i>{{ value.current_price }}
            </span>
            </td>
            <td>
              <a :href="value.link_download">
                <img alt="" class="border-0" style="padding: 0 0 5px 20px" src="http://cafef3.vcmedia.vn/images/iconAdobe.jpg" title="Download report">
              </a>
            </td>
            <td v-if="isUser">
              <div class="dropleft">
                <button class="btn font-weight-bolder" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  ...
                </button>
                <div class="dropdown-menu shadow" aria-labelledby="dropdownMenuButton">
                  <button class="dropdown-item btn p-2 text-warning" @click="bookmarkStock(value.stock_id, index)" title="Bookmark">
                    <i class="fas fa-bookmark" v-if="value.bookmark"></i>
                    <i class="far fa-bookmark" v-else></i>
                    Bookmark
                  </button>
                  <button class="dropdown-item btn p-2" v-if="isAdmin" @click="toggleEdit(value.id)" title="Edit stock">
                    <i class="fas fa-edit"></i>
                    Edit
                  </button>
                  <button class="dropdown-item btn p-2 text-danger" v-if="isAdmin" title="Delete"
                          @click="toggleDelete(value.id)">
                    <i class="fas fa-trash-alt"></i>
                    Delete
                  </button>
                </div>
              </div>
            </td>
          </tr>
          <tr class="collapse-row" v-for="(report, report_ind) in showRelated(value.id) ? relatedReport : []"
              :key="report_ind">
            <td class="pr-0"></td>
            <td class="text-center p-0"></td>
            <td class="text-center p-0"></td>
            <td class="text-center p-0">
              <i class="far fa-arrow-alt-circle-right fa-lg"></i>
            </td>
            <td class="text-center">
              {{ report.target_price }}
            </td>
            <td class="text-center">
              {{ report.current_price_report }}
            </td>
            <td class="text-center">
            <span style="color: green" v-if="report.rate > 0">
              <i class="fas fa-arrow-up"></i>{{ report.rate }}%
            </span>
              <span style="color: red" v-else>
              <i class="fas fa-arrow-down"></i>{{ report.rate }}%
            </span>
            </td>
            <td class="text-center">
              <span style="color: green" v-if="green_recmd.includes(report.recommendation.toLowerCase())">
                {{ report.recommendation }}
              </span>
                <span style="color: orange" v-if="yellow_recmd.includes(report.recommendation.toLowerCase())">
                {{ report.recommendation }}
              </span>
                <span style="color: red" v-if="red_recmd.includes(report.recommendation.toLowerCase())">
                {{ report.recommendation }}
              </span>
            </td>
            <td class="text-center">
              {{ report.source }}
            </td>
            <td class="text-center">
              {{ report.published_date }}
            </td>
            <td class="text-center">
            <span style="color: green" v-if="report.current_price > report.current_price_report">
              <i class="fas fa-arrow-up"></i>{{ report.current_price }}
            </span>
              <span style="color: red" v-else>
              <i class="fas fa-arrow-down"></i>{{ report.current_price }}
            </span>
            </td>
            <td>
              <a :href="report.link_download">
                <img alt="" class="border-0" style="padding: 0px 0px 5px 20px" src="http://cafef3.vcmedia.vn/images/iconAdobe.jpg" title="Download report">
              </a>
            </td>
            <td v-if="isUser">
              <div class="dropleft">
                <button class="btn font-weight-bolder" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  ...
                </button>
                <div class="dropdown-menu shadow" aria-labelledby="dropdownMenuButton">
                  <button class="dropdown-item btn p-2" v-if="isAdmin" @click="toggleEdit(report.id)" title="Edit stock">
                    <i class="fas fa-edit"></i>
                    Edit
                  </button>
                  <button class="dropdown-item btn p-2 text-danger" v-if="isAdmin" title="Delete"
                          @click="toggleDelete(report.id)">
                    <i class="fas fa-trash-alt"></i>
                    Delete
                  </button>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="nav__pagination text-center">
        <b-pagination
          class="justify-content-center"
          v-model="currentPage"
          :total-rows="stockData.length"
          :per-page="limit"
          first-number
          last-number
        ></b-pagination>
      </div>
      <EditAnalysis :stockID="selectedId" v-if="editModal" :onClose="toggleEdit"/>
      <confirmDelete v-if="deleteModal" title="Delete" message="Delete this stock code ?"
                     :onClose="toggleDelete" :onConfirm="deleteStockAnalysis"/>
    </div>
  </default-layout>
</template>

<script>
import DefaultLayout from '@/views/layouts/default-layout'
import StockApi from '@/services/stock'
import EditAnalysis from './modals/editAnalysis'
import confirmDelete from './modals/confirmDelete'

export default {
  name: 'enterprise_list',
  components: {
    DefaultLayout,
    EditAnalysis,
    confirmDelete
  },
  beforeMount () {
  },
  async mounted () {
    this.stockData = await StockApi.getAnalysis()
  },
  computed: {
    isAdmin () {
      return localStorage.getItem('isAdmin') === 'true'
    },
    isUser () {
      return localStorage.getItem('token')
    },
    totalPage () {
      return Math.ceil(this.stockData.length / this.limit)
    },
    paginatedData () {
      let start = (this.currentPage - 1) * this.limit
      let end = start + this.limit
      return this.searchQuery.slice(start, end)
    },
    searchQuery () {
      var filteredData
      if (this.search.code) {
        filteredData = this.stockData.filter((item) => {
          return item.stock_code.toLowerCase().match(this.search.code.toLowerCase())
        })
      } else if (this.search.name) {
        filteredData = this.stockData.filter((item) => {
          return item.company.toLowerCase().match(this.search.name.toLowerCase())
        })
      } else if (this.search.sector) {
        filteredData = this.stockData.filter((item) => {
          return item.sector.toLowerCase().match(this.search.sector.toLowerCase())
        })
      } else if (this.search.recommendation) {
        filteredData = this.stockData.filter((item) => {
          return item.recommendation.toLowerCase().match(this.search.recommendation.toLowerCase())
        })
      } else if (this.search.source) {
        filteredData = this.stockData.filter((item) => {
          return item.source.toLowerCase().match(this.search.source.toLowerCase())
        })
      } else {
        filteredData = this.stockData
      }
      return filteredData
    }
  },
  data () {
    return {
      stockData: [],
      limit: 10,
      currentPage: 1,
      selectedId: '',
      editModal: false,
      deleteModal: false,
      relatedRows: '',
      relatedReport: [],
      search: {
        code: '',
        name: '',
        sector: '',
        recommendation: '',
        source: ''
      },
      sortType: '',
      timestamp: '',
      green_recmd: ['outperform', 'mua', 'tăng tỷ trọng', 'phù hợp thị trường', 'tích cực', 'khả quan'],
      yellow_recmd: ['giữ', 'trung lập', 'theo dõi', 'nắm giữ', 'neutral'],
      red_recmd: ['bán', 'underperform']
    }
  },
  created () {
    setInterval(this.getNow, 1000)
  },
  methods: {
    onClickFirstPage () {
      this.currentPage = 1
    },
    onClickLastPage () {
      this.currentPage = this.totalPage
    },
    onClickNextPage () {
      if (this.currentPage < this.totalPage) {
        this.currentPage += 1
      }
    },
    onClickPreviousPage () {
      if (this.currentPage > 0) {
        this.currentPage -= 1
      }
    },
    onClickPage (page) {
      this.currentPage = page
    },
    isFirstPage () {
      return this.currentPage === 1
    },
    isLastPage () {
      return this.currentPage === this.totalPage
    },
    toggleEdit (id) {
      this.editModal = !this.editModal
      this.selectedId = id
    },
    toggleDelete (id) {
      this.deleteModal = !this.deleteModal
      this.selectedId = id
    },
    async bookmarkStock (id, index) {
      const res = await StockApi.bookmark(id)
      if (res.status) {
        this.paginatedData[index].bookmark = !this.paginatedData[index].bookmark
      }
    },
    async deleteStockAnalysis () {
      const res = await StockApi.deleteStockAnalysis(this.selectedId)
      if (res.status) {
        this.stockData = await StockApi.getAnalysis()
        this.toggleDelete()
      }
    },
    async toggleRelated (id, stockId) {
      if (this.relatedRows !== id) {
        this.relatedRows = id
        const res = await StockApi.getRelatedAnalysis(stockId)
        this.relatedReport = res.filter(item => item.id !== id)
      } else {
        this.relatedRows = ''
      }
    },
    showRelated (id) {
      return this.relatedRows === id
    },
    sort (type) {
      if (type === this.sortType) {
        this.sortType = ''
        this.stockData.sort((a, b) => (a[type] > b[type]) ? -1 : 1)
      } else {
        this.stockData.sort((a, b) => (a[type] > b[type]) ? 1 : -1)
        this.sortType = type
      }
    },
    getNow () {
      const today = new Date()
      this.timestamp = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate()
    }
  }
}
</script>

<style scoped lang="scss">
.collapse {
  &-toggle {
    &:hover {
      cursor: pointer;
    }
  }

  &-row {

  }
}

.btn {
  &__collapse {
    a {
      color: #504f4f;
    }

    i {
      font-size: 16px;
    }
  }

  &__sort {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.line {
  position: relative;

  &:after {
    content: '';
    width: 100%;
    border-bottom: solid 1px #000;
    left: 0;
    top: 50%;
    z-index: 1;
    position: absolute;
  }
}

.square-line {
  position: relative;

  &:after {
    content: '';
    height: 20px;
    width: 100%;
    border-bottom: solid 1px #000;
    border-left: solid 1px #000;
    left: 0;
    top: 50%;
    transform: translate(0, -96%);
    z-index: 1;
    position: absolute;
  }
}

[data-toggle="collapse"] .fas:before {
  content: "\f054";
}

[data-toggle="collapse"].collapsed .fas:before {
  content: "\f078";
}
</style>
