<template>
  <div>
    <div v-if="bookmarks.length === 0">
      You have not bookmarked any stocks
    </div>
    <div v-else>
      <div v-for="bookmark in bookmarks" :key="bookmark.id" class="dropdown-item" style="border-bottom: 1px solid #dee2e6">
        <router-link :to="{ name: 'enterprise.detail', params: {id: bookmark.stock_id }}" class="text-decoration-none" title="Stock info">
          {{ bookmark.stock_code }}
        </router-link>
        <button @click="unbookmark(bookmark.stock_id)">
          <i class="fas fa-trash-alt" title="Un bookmark"></i>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import StockApi from '@/services/stock'

export default {
  name: 'bookmark',
  data () {
    return {
      bookmarks: []
    }
  },
  methods: {
    async unbookmark (id) {
      const res = await StockApi.bookmark(id)
      if (res.status) {
        this.bookmarks = await StockApi.getBookmarks()
      }
    }
  },
  async mounted () {
    this.bookmarks = await StockApi.getBookmarks()
  }
}
</script>
