<template>
  <td
    :class="{'bg-danger': this.isChangeColor, 'col_reference': colName==='b', 'col_floor': colName === 'd', 'col_ceiling': colName ==='c'}"
    v-if="colName.match(/^[^uxyz]{1}$/)">
    <div class="p-2 text-center">{{ val }}</div>
  </td>
</template>

<script>
export default {
  name: 'Cell',
  props: ['colName', 'val'],
  watch: {
    val: {
      deep: true,
      immediate: true,
      handler: function (oldVal, newVal) {
        if (oldVal !== newVal) {
          setTimeout(() => {
            this.isChangeColor = false
          }, 500)
          this.isChangeColor = true
        }
      }
    }
  },
  data () {
    return {
      isChangeColor: false,
      curVal: ''
    }
  }
}
</script>

<style scoped lang="scss">
.col {
  &_reference {
    color: #ffcc00 !important;
  }

  &_ceiling {
    color: magenta !important;
  }

  &_floor {
    color: cyan !important;
  }

  &_total {
    color: #FFFFFF !important;
  }
}
</style>
