<template>
  <default-layout>
    <div style="text-align: center;" class="page__title">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <router-link :to="{ name: 'enterprise.list' }">Enterprise List</router-link>
          </li>
          <li class="breadcrumb-item active" aria-current="page">{{ stockDetail.stock_code }}</li>
        </ol>
      </nav>
    </div>
    <div class="page__content">
      <div class="text-main">
        <h3 class="d-inline-block font-weight-bold">{{ stockDetail.name }}</h3> <span>( {{
          stockDetail.stock_code
        }} )</span>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="bg-light p-2 m-3" v-if="stockDetail.description">
            <textarea name="" rows="10" class="w--full" disabled v-model="stockDetail.description"></textarea>
          </div>
          <div class="bg-light p-2 m-3" v-else>
            <textarea name="" rows="10" class="w--full font-italic" disabled>
              No description
            </textarea>
          </div>
        </div>
        <div class="col-6">
          <div class="table__pagination">
            <div style="min-height: 350px">
              <table class="table">
                <thead>
                <tr>
                  <th>Target price</th>
                  <th>Current price (Report)</th>
                  <th style="padding: 0px 35px">Rate</th>
                  <th>Recommendation</th>
                  <th style="padding: 0px 25px">Updated date</th>
                  <th style="width: 120px">Current price ({{ timestamp }})</th>
                  <th>Report</th>
                </tr>
                </thead>
                <tbody v-for="(value, index) in paginatedData" :key="index" class="accordion" id="accordionTable">
                <tr>
                  <td class="text-center">
                    {{ value.target_price }}
                  </td>
                  <td class="text-center">
                    {{ value.current_price_report }}
                  </td>
                  <td class="text-center">
            <span style="color: green" v-if="value.rate > 0">
              <i class="fas fa-arrow-up"></i>{{ value.rate }}%
            </span>
                    <span style="color: red" v-else>
              <i class="fas fa-arrow-down"></i>{{ value.rate }}%
            </span>
                  </td>
                  <td class="text-center">
            <span style="color: green" v-if="green_recmd.includes(value.recommendation.toLowerCase())">
              {{ value.recommendation }}
            </span>
                    <span style="color: orange" v-if="yellow_recmd.includes(value.recommendation.toLowerCase())">
              {{ value.recommendation }}
            </span>
                    <span style="color: red" v-if="red_recmd.includes(value.recommendation.toLowerCase())">
              {{ value.recommendation }}
            </span>
                  </td>
                  <td class="text-center">
                    {{ value.published_date }}
                  </td>
                  <td class="text-center">
            <span style="color: green" v-if="value.current_price > value.current_price_report">
              <i class="fas fa-arrow-up"></i>{{ value.current_price }}
            </span>
                    <span style="color: red" v-else>
              <i class="fas fa-arrow-down"></i>{{ value.current_price }}
            </span>
                  </td>
                  <td>
                    <a :href="value.link_download">
                      <img alt="" class="border-0" style="padding: 0 0 5px 20px"
                           src="http://cafef3.vcmedia.vn/images/iconAdobe.jpg" title="Download report">
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="nav__pagination text-center">
              <div class="d-inline-block">
                <nav aria-label="Table navigation">
                  <ul class="pagination">
                    <li class="page-item">
                      <button class="btn" aria-label="First" @click="onClickFirstPage">
                        <span aria-hidden="true">&laquo;</span>
                      </button>
                    </li>
                    <li class="page-item">
                      <button class="btn" aria-label="Previous" @click="onClickPreviousPage">
                        <span aria-hidden="true">&lt;</span>
                      </button>
                    </li>
                    <li class="page-item p-2">
                      Page {{ currentPage }}/{{ totalPage }}
                    </li>
                    <li class="page-item">
                      <button class="btn" aria-label="Next" @click="onClickNextPage">
                        <span aria-hidden="true">&gt;</span>
                      </button>
                    </li>
                    <li class="page-item">
                      <button class="btn" aria-label="Last" @click="onClickLastPage">
                        <span aria-hidden="true">&raquo;</span>
                      </button>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="m-3">
        <div class="row">
          <div class="col-6 mb-4">
            <div class="stock-icon d-inline-block mr-1">
              <img class="w--full" :src="require('@/assets/images/capital-venture.png')" alt="Capital" title="Capital">
            </div>
            Capital: {{ stockDetail.capital }}
          </div>
          <div class="col-6 mb-4">
            <div class="stock-icon d-inline-block mr-1">
              <img class="w--full" :src="require('@/assets/images/traded.png')" alt="Traded Volume"
                   title="Traded Volume">
            </div>
            Traded Volume: {{ stockDetail.traded_volume }}
          </div>
          <div class="col-6 mb-4">
            <div class="stock-icon d-inline-block mr-1">
              <img class="w--full" :src="require('@/assets/images/listed.png')" alt="Listed amount"
                   title="Listed amount">
            </div>
            Listed amount: {{ stockDetail.listed_amount }}
          </div>
          <div class="col-6 mb-4">
            <div class="stock-icon d-inline-block mr-1">
              <img class="w--full" :src="require('@/assets/images/circulating.png')" alt="Circulating amount"
                   title="Circulating amount">
            </div>
            Circulating amount: {{ stockDetail.circulating_amount }}
          </div>
        </div>
      </div>
    </div>
    <div class="stockchart">
      <CandleStick :stockData="stockPrice"/>
    </div>
    <div>
      <iframe frameBorder='0' scrolling='no' width='800' height='420'
              src='https://api.stockdio.com/visualization/financial/charts/v1/HistoricalPrices?app-key=C7C452EA035849ACA5D824C1F048DDAA&stockExchange=HOSE&symbol=HPG&index=VNINDEX&displayPrices=Candlestick&dividends=true&splits=true&culture=Vietnamese&palette=Financial-Light'></iframe>
    </div>
  </default-layout>
</template>

<script>
import DefaultLayout from '@/views/layouts/default-layout'
import CandleStick from '@/components/charts/candlestick'
import StockApi from '@/services/stock'

export default {
  name: 'enterprise-detail',
  components: {
    DefaultLayout,
    CandleStick
  },
  computed: {
    totalPage () {
      return Math.ceil(this.stockAnalysis.length / this.limit)
    },
    paginatedData () {
      let start = (this.currentPage - 1) * this.limit
      let end = start + this.limit
      return this.stockAnalysis.slice(start, end)
    },
    embededSrc () {
      return 'https://api.stockdio.com/visualization/financial/charts/v1/HistoricalPrices?app-key=&stockExchange=HOSE&symbol=' + this.stock_code + '&index=VNINDEX&displayPrices=Candlestick&dividends=true&splits=true&culture=Vietnamese&palette=Financial-Light'
    }
  },
  data () {
    return {
      stockPrice: [
        {
          'TradingDate': 1620147600000,
          'StockCode': 'VN-Index',
          'FinanceURL': '#',
          'StockName': 'VN-Index',
          'BasicPrice': 1242.20,
          'OpenPrice': 1244.69,
          'ClosePrice': 1256.43,
          'HighestPrice': 1265.93,
          'LowestPrice': 1242.20,
          'AvrPrice': 0.0,
          'Change': 14.23,
          'PerChange': 1.15,
          'ChangeColor': 'up',
          'ChangeImage': 'up',
          'M_TotalVol': 685433600,
          'M_TotalVal': 19017459.000000,
          'PT_TotalVol': 58993980,
          'PT_TotalVal': 2192375.000000,
          'TotalVol': 744427580,
          'TotalVal': 21209834.000000,
          'MarketCap': 4734167087.862620,
          'StockNameEn': 'VN-Index',
          'ROW': 1,
          'StockID': 0,
          'TrID': 5082
        }, {
          'TradingDate': 1620061200000,
          'StockCode': 'VN-Index',
          'FinanceURL': '#',
          'StockName': 'VN-Index',
          'BasicPrice': 1239.39,
          'OpenPrice': 1222.08,
          'ClosePrice': 1242.20,
          'HighestPrice': 1242.80,
          'LowestPrice': 1212.56,
          'AvrPrice': 0.0,
          'Change': 2.81,
          'PerChange': 0.23,
          'ChangeColor': 'up',
          'ChangeImage': 'up',
          'M_TotalVol': 712632600,
          'M_TotalVal': 18791531.000000,
          'PT_TotalVol': 84011106,
          'PT_TotalVal': 2663123.000000,
          'TotalVol': 796643706,
          'TotalVal': 21454654.000000,
          'MarketCap': 4676652183.816130,
          'StockNameEn': 'VN-Index',
          'ROW': 2,
          'StockID': 0,
          'TrID': 5081
        }, {
          'TradingDate': 1619629200000,
          'StockCode': 'VN-Index',
          'FinanceURL': '#',
          'StockName': 'VN-Index',
          'BasicPrice': 1229.55,
          'OpenPrice': 1234.91,
          'ClosePrice': 1239.39,
          'HighestPrice': 1239.39,
          'LowestPrice': 1231.25,
          'AvrPrice': 0.0,
          'Change': 9.84,
          'PerChange': 0.80,
          'ChangeColor': 'up',
          'ChangeImage': 'up',
          'M_TotalVol': 614232800,
          'M_TotalVal': 18090624.000000,
          'PT_TotalVol': 32827374,
          'PT_TotalVal': 1206428.000000,
          'TotalVol': 647060174,
          'TotalVal': 19297052.000000,
          'MarketCap': 4668170755.974710,
          'StockNameEn': 'VN-Index',
          'ROW': 3,
          'StockID': 0,
          'TrID': 5080
        }, {
          'TradingDate': 1619542800000,
          'StockCode': 'VN-Index',
          'FinanceURL': '#',
          'StockName': 'VN-Index',
          'BasicPrice': 1219.75,
          'OpenPrice': 1220.26,
          'ClosePrice': 1229.55,
          'HighestPrice': 1230.91,
          'LowestPrice': 1217.49,
          'AvrPrice': 0.0,
          'Change': 9.80,
          'PerChange': 0.80,
          'ChangeColor': 'up',
          'ChangeImage': 'up',
          'M_TotalVol': 589498400,
          'M_TotalVal': 14247139.000000,
          'PT_TotalVol': 23198789,
          'PT_TotalVal': 1162855.000000,
          'TotalVol': 612697189,
          'TotalVal': 15409994.000000,
          'MarketCap': 4629113488.514260,
          'StockNameEn': 'VN-Index',
          'ROW': 4,
          'StockID': 0,
          'TrID': 5079
        }, {
          'TradingDate': 1619456400000,
          'StockCode': 'VN-Index',
          'FinanceURL': '#',
          'StockName': 'VN-Index',
          'BasicPrice': 1215.77,
          'OpenPrice': 1213.84,
          'ClosePrice': 1219.75,
          'HighestPrice': 1220.96,
          'LowestPrice': 1204.14,
          'AvrPrice': 0.0,
          'Change': 3.98,
          'PerChange': 0.33,
          'ChangeColor': 'up',
          'ChangeImage': 'up',
          'M_TotalVol': 544650900,
          'M_TotalVal': 13065390.000000,
          'PT_TotalVol': 73518980,
          'PT_TotalVal': 2393871.000000,
          'TotalVol': 618169880,
          'TotalVal': 15459261.000000,
          'MarketCap': 4592254903.050690,
          'StockNameEn': 'VN-Index',
          'ROW': 5,
          'StockID': 0,
          'TrID': 5078
        }, {
          'TradingDate': 1619370000000,
          'StockCode': 'VN-Index',
          'FinanceURL': '#',
          'StockName': 'VN-Index',
          'BasicPrice': 1248.53,
          'OpenPrice': 1251.25,
          'ClosePrice': 1215.77,
          'HighestPrice': 1251.25,
          'LowestPrice': 1214.14,
          'AvrPrice': 0.0,
          'Change': -32.76,
          'PerChange': -2.62,
          'ChangeColor': 'down',
          'ChangeImage': 'down',
          'M_TotalVol': 685386500,
          'M_TotalVal': 16862160.000000,
          'PT_TotalVol': 59558231,
          'PT_TotalVal': 2433503.000000,
          'TotalVol': 744944731,
          'TotalVal': 19295663.000000,
          'MarketCap': 4567165077.337610,
          'StockNameEn': 'VN-Index',
          'ROW': 6,
          'StockID': 0,
          'TrID': 5077
        }, {
          'TradingDate': 1619110800000,
          'StockCode': 'VN-Index',
          'FinanceURL': '#',
          'StockName': 'VN-Index',
          'BasicPrice': 1227.82,
          'OpenPrice': 1227.18,
          'ClosePrice': 1248.53,
          'HighestPrice': 1248.53,
          'LowestPrice': 1216.15,
          'AvrPrice': 0.0,
          'Change': 20.71,
          'PerChange': 1.69,
          'ChangeColor': 'up',
          'ChangeImage': 'up',
          'M_TotalVol': 684222800,
          'M_TotalVal': 17960617.000000,
          'PT_TotalVol': 32295868,
          'PT_TotalVal': 2129357.000000,
          'TotalVol': 716518668,
          'TotalVal': 20089974.000000,
          'MarketCap': 4694658918.140970,
          'StockNameEn': 'VN-Index',
          'ROW': 7,
          'StockID': 0,
          'TrID': 5076
        }, {
          'TradingDate': 1619024400000,
          'StockCode': 'VN-Index',
          'FinanceURL': '#',
          'StockName': 'VN-Index',
          'BasicPrice': 1268.28,
          'OpenPrice': 1264.31,
          'ClosePrice': 1227.82,
          'HighestPrice': 1271.98,
          'LowestPrice': 1227.82,
          'AvrPrice': 0.0,
          'Change': -40.46,
          'PerChange': -3.19,
          'ChangeColor': 'down',
          'ChangeImage': 'down',
          'M_TotalVol': 732254600,
          'M_TotalVal': 18593777.000000,
          'PT_TotalVol': 38118283,
          'PT_TotalVal': 2069613.000000,
          'TotalVol': 770372883,
          'TotalVal': 20663390.000000,
          'MarketCap': 4616592700.989800,
          'StockNameEn': 'VN-Index',
          'ROW': 8,
          'StockID': 0,
          'TrID': 5075
        }, {
          'TradingDate': 1618851600000,
          'StockCode': 'VN-Index',
          'FinanceURL': '#',
          'StockName': 'VN-Index',
          'BasicPrice': 1260.58,
          'OpenPrice': 1267.74,
          'ClosePrice': 1268.28,
          'HighestPrice': 1286.32,
          'LowestPrice': 1261.28,
          'AvrPrice': 0.0,
          'Change': 7.70,
          'PerChange': 0.61,
          'ChangeColor': 'up',
          'ChangeImage': 'up',
          'M_TotalVol': 798483500,
          'M_TotalVal': 21165398.000000,
          'PT_TotalVol': 45118428,
          'PT_TotalVal': 1934757.000000,
          'TotalVol': 843601928,
          'TotalVal': 23100155.000000,
          'MarketCap': 4768543327.699010,
          'StockNameEn': 'VN-Index',
          'ROW': 9,
          'StockID': 0,
          'TrID': 5074
        }, {
          'TradingDate': 1618765200000,
          'StockCode': 'VN-Index',
          'FinanceURL': '#',
          'StockName': 'VN-Index',
          'BasicPrice': 1238.71,
          'OpenPrice': 1243.58,
          'ClosePrice': 1260.58,
          'HighestPrice': 1260.58,
          'LowestPrice': 1233.77,
          'AvrPrice': 0.0,
          'Change': 21.87,
          'PerChange': 1.77,
          'ChangeColor': 'up',
          'ChangeImage': 'up',
          'M_TotalVol': 773047000,
          'M_TotalVal': 18350463.000000,
          'PT_TotalVol': 43932717,
          'PT_TotalVal': 1449190.000000,
          'TotalVol': 816979717,
          'TotalVal': 19799653.000000,
          'MarketCap': 4739545677.371290,
          'StockNameEn': 'VN-Index',
          'ROW': 10,
          'StockID': 0,
          'TrID': 5073
        }, {
          'TradingDate': 1618506000000,
          'StockCode': 'VN-Index',
          'FinanceURL': '#',
          'StockName': 'VN-Index',
          'BasicPrice': 1247.25,
          'OpenPrice': 1245.06,
          'ClosePrice': 1238.71,
          'HighestPrice': 1254.61,
          'LowestPrice': 1227.14,
          'AvrPrice': 0.0,
          'Change': -8.54,
          'PerChange': -0.68,
          'ChangeColor': 'down',
          'ChangeImage': 'down',
          'M_TotalVol': 948989400,
          'M_TotalVal': 20048300.000000,
          'PT_TotalVol': 37888440,
          'PT_TotalVal': 1711537.000000,
          'TotalVol': 986877840,
          'TotalVal': 21759837.000000,
          'MarketCap': 4654450312.177630,
          'StockNameEn': 'VN-Index',
          'ROW': 11,
          'StockID': 0,
          'TrID': 5072
        }, {
          'TradingDate': 1618419600000,
          'StockCode': 'VN-Index',
          'FinanceURL': '#',
          'StockName': 'VN-Index',
          'BasicPrice': 1255.87,
          'OpenPrice': 1262.25,
          'ClosePrice': 1247.25,
          'HighestPrice': 1265.87,
          'LowestPrice': 1247.25,
          'AvrPrice': 0.0,
          'Change': -8.62,
          'PerChange': -0.69,
          'ChangeColor': 'down',
          'ChangeImage': 'down',
          'M_TotalVol': 771443700,
          'M_TotalVal': 19034858.000000,
          'PT_TotalVol': 35047736,
          'PT_TotalVal': 1610663.000000,
          'TotalVol': 806491436,
          'TotalVal': 20645521.000000,
          'MarketCap': 4686893186.342090,
          'StockNameEn': 'VN-Index',
          'ROW': 12,
          'StockID': 0,
          'TrID': 5071
        }, {
          'TradingDate': 1618333200000,
          'StockCode': 'VN-Index',
          'FinanceURL': '#',
          'StockName': 'VN-Index',
          'BasicPrice': 1248.33,
          'OpenPrice': 1240.90,
          'ClosePrice': 1255.87,
          'HighestPrice': 1255.87,
          'LowestPrice': 1233.01,
          'AvrPrice': 0.0,
          'Change': 7.54,
          'PerChange': 0.60,
          'ChangeColor': 'up',
          'ChangeImage': 'up',
          'M_TotalVol': 813503500,
          'M_TotalVal': 17746914.000000,
          'PT_TotalVol': 48451002,
          'PT_TotalVal': 1598220.000000,
          'TotalVol': 861954502,
          'TotalVal': 19345134.000000,
          'MarketCap': 4718522404.373770,
          'StockNameEn': 'VN-Index',
          'ROW': 13,
          'StockID': 0,
          'TrID': 5070
        }, {
          'TradingDate': 1618246800000,
          'StockCode': 'VN-Index',
          'FinanceURL': '#',
          'StockName': 'VN-Index',
          'BasicPrice': 1252.45,
          'OpenPrice': 1262.44,
          'ClosePrice': 1248.33,
          'HighestPrice': 1268.02,
          'LowestPrice': 1247.66,
          'AvrPrice': 0.0,
          'Change': -4.12,
          'PerChange': -0.33,
          'ChangeColor': 'down',
          'ChangeImage': 'down',
          'M_TotalVol': 977605500,
          'M_TotalVal': 20422897.000000,
          'PT_TotalVol': 49479843,
          'PT_TotalVal': 3047592.000000,
          'TotalVol': 1027085343,
          'TotalVal': 23470489.000000,
          'MarketCap': 4690195685.446630,
          'StockNameEn': 'VN-Index',
          'ROW': 14,
          'StockID': 0,
          'TrID': 5069
        }, {
          'TradingDate': 1618160400000,
          'StockCode': 'VN-Index',
          'FinanceURL': '#',
          'StockName': 'VN-Index',
          'BasicPrice': 1231.66,
          'OpenPrice': 1236.79,
          'ClosePrice': 1252.45,
          'HighestPrice': 1252.45,
          'LowestPrice': 1232.35,
          'AvrPrice': 0.0,
          'Change': 20.79,
          'PerChange': 1.69,
          'ChangeColor': 'up',
          'ChangeImage': 'up',
          'M_TotalVol': 857647000,
          'M_TotalVal': 19983938.000000,
          'PT_TotalVol': 32666325,
          'PT_TotalVal': 1533732.000000,
          'TotalVol': 890313325,
          'TotalVal': 21517670.000000,
          'MarketCap': 4705544247.426580,
          'StockNameEn': 'VN-Index',
          'ROW': 15,
          'StockID': 0,
          'TrID': 5068
        }, {
          'TradingDate': 1617901200000,
          'StockCode': 'VN-Index',
          'FinanceURL': '#',
          'StockName': 'VN-Index',
          'BasicPrice': 1234.89,
          'OpenPrice': 1231.51,
          'ClosePrice': 1231.66,
          'HighestPrice': 1234.98,
          'LowestPrice': 1227.60,
          'AvrPrice': 0.0,
          'Change': -3.23,
          'PerChange': -0.26,
          'ChangeColor': 'down',
          'ChangeImage': 'down',
          'M_TotalVol': 655839000,
          'M_TotalVal': 14137694.000000,
          'PT_TotalVol': 76978578,
          'PT_TotalVal': 4070672.000000,
          'TotalVol': 732817578,
          'TotalVal': 18208366.000000,
          'MarketCap': 4627574663.719420,
          'StockNameEn': 'VN-Index',
          'ROW': 16,
          'StockID': 0,
          'TrID': 5067
        }, {
          'TradingDate': 1617814800000,
          'StockCode': 'VN-Index',
          'FinanceURL': '#',
          'StockName': 'VN-Index',
          'BasicPrice': 1242.38,
          'OpenPrice': 1246.40,
          'ClosePrice': 1234.89,
          'HighestPrice': 1246.40,
          'LowestPrice': 1232.26,
          'AvrPrice': 0.0,
          'Change': -7.49,
          'PerChange': -0.60,
          'ChangeColor': 'down',
          'ChangeImage': 'down',
          'M_TotalVol': 633566500,
          'M_TotalVal': 13204989.000000,
          'PT_TotalVol': 30941210,
          'PT_TotalVal': 1318004.000000,
          'TotalVol': 664507710,
          'TotalVal': 14522993.000000,
          'MarketCap': 4639952981.347370,
          'StockNameEn': 'VN-Index',
          'ROW': 17,
          'StockID': 0,
          'TrID': 5066
        }, {
          'TradingDate': 1617728400000,
          'StockCode': 'VN-Index',
          'FinanceURL': '#',
          'StockName': 'VN-Index',
          'BasicPrice': 1239.96,
          'OpenPrice': 1237.39,
          'ClosePrice': 1242.38,
          'HighestPrice': 1242.38,
          'LowestPrice': 1232.52,
          'AvrPrice': 0.0,
          'Change': 2.42,
          'PerChange': 0.20,
          'ChangeColor': 'up',
          'ChangeImage': 'up',
          'M_TotalVol': 676166500,
          'M_TotalVal': 14843237.000000,
          'PT_TotalVol': 51617648,
          'PT_TotalVal': 1678101.000000,
          'TotalVol': 727784148,
          'TotalVal': 16521338.000000,
          'MarketCap': 4668365327.100250,
          'StockNameEn': 'VN-Index',
          'ROW': 18,
          'StockID': 0,
          'TrID': 5065
        }, {
          'TradingDate': 1617642000000,
          'StockCode': 'VN-Index',
          'FinanceURL': '#',
          'StockName': 'VN-Index',
          'BasicPrice': 1236.05,
          'OpenPrice': 1233.37,
          'ClosePrice': 1239.96,
          'HighestPrice': 1244.63,
          'LowestPrice': 1231.14,
          'AvrPrice': 0.0,
          'Change': 3.91,
          'PerChange': 0.32,
          'ChangeColor': 'up',
          'ChangeImage': 'up',
          'M_TotalVol': 656481800,
          'M_TotalVal': 15328797.000000,
          'PT_TotalVol': 37582662,
          'PT_TotalVal': 1567460.000000,
          'TotalVol': 694064462,
          'TotalVal': 16896257.000000,
          'MarketCap': 4659268751.237720,
          'StockNameEn': 'VN-Index',
          'ROW': 19,
          'StockID': 0,
          'TrID': 5064
        }, {
          'TradingDate': 1617555600000,
          'StockCode': 'VN-Index',
          'FinanceURL': '#',
          'StockName': 'VN-Index',
          'BasicPrice': 1224.45,
          'OpenPrice': 1245.28,
          'ClosePrice': 1236.05,
          'HighestPrice': 1245.28,
          'LowestPrice': 1228.18,
          'AvrPrice': 0.0,
          'Change': 11.60,
          'PerChange': 0.95,
          'ChangeColor': 'up',
          'ChangeImage': 'up',
          'M_TotalVol': 635303500,
          'M_TotalVal': 15003401.000000,
          'PT_TotalVol': 57732571,
          'PT_TotalVal': 1812036.000000,
          'TotalVol': 693036071,
          'TotalVal': 16815437.000000,
          'MarketCap': 4643247048.710130,
          'StockNameEn': 'VN-Index',
          'ROW': 20,
          'StockID': 0,
          'TrID': 5063
        }
      ],
      stockAnalysis: [],
      chartData: {
        date: [],
        open: [],
        close: [],
        low: [],
        high: []
      },
      stockDetail: '',
      limit: 5,
      currentPage: 1,
      timestamp: '',
      green_recmd: ['outperform', 'mua', 'tăng tỷ trọng', 'phù hợp thị trường', 'tích cực', 'khả quan'],
      yellow_recmd: ['giữ', 'trung lập', 'theo dõi', 'nắm giữ', 'neutral'],
      red_recmd: ['bán', 'underperform']
    }
  },
  created () {
    setInterval(this.getNow, 1000)
  },
  async mounted () {
    this.stockDetail = await StockApi.getStockDetail(this.$route.params.id)
    this.stockAnalysis = await StockApi.getRelatedAnalysis(this.$route.params.id)
    console.log(this.embededSrc)
  },
  methods: {
    onClickFirstPage () {
      this.currentPage = 1
    },
    onClickLastPage () {
      this.currentPage = this.totalPage
    },
    onClickNextPage () {
      if (this.currentPage < this.totalPage) {
        this.currentPage += 1
      }
    },
    onClickPreviousPage () {
      if (this.currentPage > 0) {
        this.currentPage -= 1
      }
    },
    onClickPage (page) {
      this.currentPage = page
    },
    isFirstPage () {
      return this.currentPage === 1
    },
    isLastPage () {
      return this.currentPage === this.totalPage
    },
    getNow () {
      const today = new Date()
      this.timestamp = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate()
    }
  }
}
</script>

<style scoped lang="scss">

</style>
