<template>
  <default-layout>
    <div class="fixed-top mt-5">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <b-alert
            :show="alert.dismissCountDown"
            dismissible
            fade
            :variant="alert.type"
            @dismissed="alert.dismissCountDown=0"
            @dismiss-count-down="countDownChanged"
          >
            <p>{{ alert.message }}</p>
          </b-alert>
        </div>
      </div>
    </div>
    <div class="table__pagination">
      <div style="min-height: 750px">
        <table class="table">
          <thead>
          <tr>
            <th>Order</th>
            <th style="width: 150px">
              <input type="text" class="form-control" placeholder="Stock Code" v-model="search.code">
            </th>
            <th style="width: 200px">
              <input type="text" class="form-control" placeholder="Company" v-model="search.name">
            </th>
            <th>Description</th>
            <th>Capital</th>
            <th>Traded volume</th>
            <th>Listed amount</th>
            <th>Circulating amount</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(value, index) in paginatedData" :key="index">
            <td>{{ index + 1 + (currentPage - 1) * limit }}</td>
            <td class="text-center">
              <router-link :to="{ name: 'enterprise.detail', params: {id: value.id } }" class="text-decoration-none"
                           title="Stock info">
                {{ value.stock_code }}
              </router-link>
            </td>
            <td>{{ value.name }}</td>
            <td>{{ value.description }}</td>
            <td>{{ value.capital }}</td>
            <td>{{ value.traded_volume }}</td>
            <td>{{ value.listed_amount }}</td>
            <td>{{ value.circulating_amount }}</td>
            <td v-if="isUser">
              <div class="dropleft">
                <button class="btn font-weight-bolder" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  ...
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <button class="dropdown-item btn p-2 text-warning" @click="bookmarkStock(value.id, index)">
                    <i class="fas fa-bookmark" v-if="value.bookmark"></i>
                    <i class="far fa-bookmark" v-else></i>
                    Bookmark
                  </button>
                  <button class="dropdown-item btn p-2" v-if="isAdmin" @click="toggleEdit(value.id)">
                    <i class="fas fa-edit"></i>
                    Edit
                  </button>
                  <button class="dropdown-item btn p-2 text-danger" v-if="isAdmin" title="Delete"
                          @click="toggleDelete(value.id)">
                    <i class="fas fa-trash-alt"></i>
                    Delete
                  </button>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="nav__pagination text-center">
        <b-pagination
          class="justify-content-center"
          v-model="currentPage"
          :total-rows="stockData.length"
          :per-page="limit"
          first-number
          last-number
        ></b-pagination>
      </div>
      <EditEnterprise :stockID="selectedId" v-if="editModal" :onClose="toggleEdit" @response="modalResponse"/>
      <ConfirmDelete v-if="deleteModal" title="Delete" message="Delete this stock code ?"
                     :onClose="toggleDelete" :onConfirm="deleteStock"/>
    </div>
  </default-layout>
</template>

<script>
import DefaultLayout from '@/views/layouts/default-layout'
import StockApi from '@/services/stock'
import EditEnterprise from './modals/editEnterprise'
import ConfirmDelete from './modals/confirmDelete'

export default {
  name: 'enterprise_list',
  components: {
    DefaultLayout,
    EditEnterprise,
    ConfirmDelete
  },
  async mounted () {
    await this.updateData()
    console.log(this.totalPage)
  },
  computed: {
    isAdmin () {
      return localStorage.getItem('isAdmin') === 'true'
    },
    isUser () {
      return localStorage.getItem('token')
    },
    totalPage () {
      return Math.ceil(this.stockData.length / this.limit)
    },
    paginatedData () {
      let start = (this.currentPage - 1) * this.limit
      let end = start + this.limit
      return this.searchQuery.slice(start, end)
    },
    searchQuery () {
      var filteredData
      if (this.search.code || this.search.name) {
        filteredData = this.stockData.filter((item) => {
          return item.stock_code.match(this.search.code.toUpperCase())
        })
      }
      if (this.search.name) {
        filteredData = this.stockData.filter((item) => {
          return item.name.match(this.search.name)
        })
      }
      if (!this.search.code && !this.search.name) {
        filteredData = this.stockData
      }
      return filteredData
    }
  },
  data () {
    return {
      rows: 318,
      stockData: [],
      limit: 10,
      currentPage: 1,
      selectedId: '',
      editModal: false,
      deleteModal: false,
      search: {
        code: '',
        name: ''
      },
      sortType: '',
      alert: {
        type: '',
        dismissSecs: 5,
        dismissCountDown: 0,
        showDismissibleAlert: false,
        message: ''
      }
    }
  },
  methods: {
    async updateData () {
      this.stockData = await StockApi.getStockList()
    },
    onClickFirstPage () {
      this.currentPage = 1
    },
    onClickLastPage () {
      this.currentPage = this.totalPage
    },
    onClickNextPage () {
      if (this.currentPage < this.totalPage) {
        this.currentPage += 1
      }
    },
    onClickPreviousPage () {
      if (this.currentPage > 0) {
        this.currentPage -= 1
      }
    },
    onClickPage (page) {
      this.currentPage = page
      console.log(this.paginatedData)
    },
    isFirstPage () {
      return this.currentPage === 1
    },
    isLastPage () {
      console.log(this.totalPage)
      return this.currentPage === this.totalPage
    },
    toggleEdit (id) {
      this.editModal = !this.editModal
      this.selectedId = id
    },
    toggleDelete (id) {
      this.deleteModal = !this.deleteModal
      this.selectedId = id
    },
    async bookmarkStock (id, index) {
      const res = await StockApi.bookmark(id)
      if (res.status) {
        this.paginatedData[index].bookmark = !this.paginatedData[index].bookmark
        // this.stockData = await StockApi.getStockList()
      }
    },
    async deleteStock () {
      const res = await StockApi.deleteStock(this.selectedId)
      if (res.status) {
        await this.updateData()
        this.toggleDelete()
        this.showAlert('success', 'Deleted successfully.')
      } else {
        this.showAlert('danger', 'Error! Please try again.')
      }
    },
    modalResponse (e) {
      this.toggleEdit()
      if (e.type === 'success') {
        this.updateData()
      }
      this.showAlert(e.type, e.message)
    },
    countDownChanged (dismissCountDown) {
      this.alert.dismissCountDown = dismissCountDown
    },
    showAlert (type, message) {
      this.alert.type = type
      this.alert.message = message
      this.alert.dismissCountDown = this.alert.dismissSecs
    }
  }
}
</script>

<style scoped lang="scss">
.btn {
  &__sort {
    position: absolute;
    top: 0;
    right: 0;
  }
}

</style>
