<template>
  <default-layout>
    <div v-if="!isLoading">
      <div class="table-box overflow-auto">
        <table class="table-hover bg-dark text-white">
          <thead class="bg-dark">
          <tr class="position-sticky">
            <th rowspan="2">
              <input type="text" class="form-control bg-transparent text-white border-0 m-auto p-0" placeholder="Stock Code"
                     v-model="search" style="width: 100px">
            </th>
            <th rowspan="2">Reference</th>
            <th rowspan="2">Floor</th>
            <th rowspan="2">Ceiling</th>
            <th colspan="6" class="text-center">Buy</th>
            <th colspan="4" class="text-center">Match</th>
            <th colspan="6" class="text-center">Sell</th>
            <th rowspan="2">Highest</th>
            <th rowspan="2">Lowest</th>
          </tr>
          <tr class="col-child">
            <th>Val 3</th>
            <th>Vol 3</th>
            <th>Val 2</th>
            <th>Vol 2</th>
            <th>Val 1</th>
            <th>Vol 1</th>
            <th>+/-</th>
            <th>Val</th>
            <th>Vol</th>
            <th>Total Vol</th>
            <th>Val 1</th>
            <th>Vol 1</th>
            <th>Val 2</th>
            <th>Vol 2</th>
            <th>Val 3</th>
            <th>Vol 3</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="stockcode in searchQuery" :key="stockcode.a" class="price"
              :class="{price_raise: stockcode.k>0, price_fall: stockcode.k<0}">
            <td>
              <div class="p-2 text-center">{{ stockcode.a }}</div>
            </td>
            <td class="col-reference">
              <div class="p-2 text-right">{{ stockcode.b }}</div>
            </td>
            <td class="col-ceiling">
              <div class="p-2 text-right">{{ stockcode.c }}</div>
            </td>
            <td class="col-floor">
              <div class="p-2 text-right">{{ stockcode.d }}</div>
            </td>
            <td>
              <div class="p-2 text-right">{{ stockcode.e }}</div>
            </td>
            <td>
              <div class="p-2 text-right">{{ stockcode.f }}</div>
            </td>
            <td>
              <div class="p-2 text-right">{{ stockcode.g }}</div>
            </td>
            <td>
              <div class="p-2 text-right">{{ stockcode.h }}</div>
            </td>
            <td>
              <div class="p-2 text-right">{{ stockcode.i }}</div>
            </td>
            <td>
              <div class="p-2 text-right">{{ stockcode.j }}</div>
            </td>
            <td>
              <div class="p-2 text-center">{{ stockcode.k }}</div>
            </td>
            <td>
              <div class="p-2 text-center">{{ stockcode.l }}</div>
            </td>
            <td>
              <div class="p-2 text-center">{{ stockcode.m }}</div>
            </td>
            <td class="col-total">
              <div class="p-2 text-right">{{ stockcode.n }}</div>
            </td>
            <td>
              <div class="p-2 text-right">{{ stockcode.o }}</div>
            </td>
            <td>
              <div class="p-2 text-right">{{ stockcode.p }}</div>
            </td>
            <td>
              <div class="p-2 text-right">{{ stockcode.q }}</div>
            </td>
            <td>
              <div class="p-2 text-right">{{ stockcode.r }}</div>
            </td>
            <td>
              <div class="p-2 text-right">{{ stockcode.s }}</div>
            </td>
            <td>
              <div class="p-2 text-right">{{ stockcode.t }}</div>
            </td>
            <td>
              <div class="p-2 text-right">{{ stockcode.v }}</div>
            </td>
            <td>
              <div class="p-2 text-right">{{ stockcode.w }}</div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </default-layout>
</template>

<script>
import DefaultLayout from '@/views/layouts/default-layout'
import StockApi from '@/services/stock'

export default {
  name: 'liveboard',
  components: {
    DefaultLayout
  },
  data () {
    return {
      liveboard: [],
      stock_data: [],
      stock_exchange: [],
      isLoading: true,
      search: ''
    }
  },
  computed: {
    searchQuery () {
      var filteredData
      if (this.search) {
        filteredData = this.stock_data.filter((item) => {
          return item.a.toLowerCase().match(this.search.toLowerCase())
        })
      } else {
        filteredData = this.stock_data
      }
      return filteredData
    }
  },
  async mounted () {
    this.isLoading = true
    await this.getData()
    // await setInterval(this.getData, 10000)
    this.isLoading = false
  },
  methods: {
    async getData () {
      this.liveboard = await StockApi.getLiveboard()
      this.stock_data = this.liveboard.stock_data
      this.stock_exchange = this.liveboard.stock_exchange
      console.log('liveboard updated')
    }
  }
}
</script>

<style scoped lang="scss">
table {
  min-width: 992px;
  font-size: 12px;
  width: 100%;
  border: 1px solid #ffffff;
  th, td {
    border: 1px solid rgb(255,255,255,0.1);
    border-collapse: collapse;
  }
  th {
    background-color: #000000;
    position: sticky;
    top: 0;
  }
  .col-child th{
    position: sticky;
    top: 19px !important;
  }
}

.table {
  &-box {
    width: 100%;
    height: 800px;
  }
  &-header {
    font-size: 12px;
    position: fixed;
    top: 56px;
    width: 100%;
    z-index: 99;
  }

  &-body {
    font-size: 12px;
    width: 100%;
    margin-top: 100px;

    td {
    }
  }
}

.col {
  &-reference {
    color: #ffcc00 !important;
  }

  &-ceiling {
    color: magenta !important;
  }

  &-floor {
    color: cyan !important;
  }

  &-total {
    color: #FFFFFF !important;
  }
}

.price {
  color: #ffcc00 !important;

  &_raise {
    color: lime !important;
  }

  &_fall {
    color: red !important;
  }
}
</style>
