<template>
  <default-layout wrap-class="p-0 bg-dark">
    <div v-if="!isLoading">
      <div class="stock-chart overflow-auto">
        <div style="min-width: 1750px">
          <div class="d-inline-block">
            <TimeSeries code="VNINDEX"/>
          </div>
          <div class="d-inline-block">
            <TimeSeries code="HNXINDEX"/>
          </div>
          <div class="d-inline-block">
            <TimeSeries code="HNXUPCOMINDEX"/>
          </div>
          <div class="d-inline-block">
            <TimeSeries code="HNX30"/>
          </div>
          <div class="d-inline-block">
            <TimeSeries code="VN30"/>
          </div>
        </div>
      </div>
      <div class="table-box overflow-auto">
        <table class="table-hover bg-dark text-white">
          <thead class="bg-dark">
          <tr class="position-sticky">
            <th rowspan="2">
              <input type="text" class="form-control bg-transparent text-white border-0 m-auto p-0 text-center"
                     placeholder="Stock Code"
                     v-model="search" style="width: 100px">
            </th>
            <th rowspan="2">Reference</th>
            <th rowspan="2">Floor</th>
            <th rowspan="2">Ceiling</th>
            <th colspan="6" class="text-center">Buy</th>
            <th colspan="4" class="text-center">Match</th>
            <th colspan="6" class="text-center">Sell</th>
            <th rowspan="2">Highest</th>
            <th rowspan="2">Lowest</th>
          </tr>
          <tr class="col_child">
            <th>Val 3</th>
            <th>Vol 3</th>
            <th>Val 2</th>
            <th>Vol 2</th>
            <th>Val 1</th>
            <th>Vol 1</th>
            <th>+/-</th>
            <th>Val</th>
            <th>Vol</th>
            <th>Total Vol</th>
            <th>Val 1</th>
            <th>Vol 1</th>
            <th>Val 2</th>
            <th>Vol 2</th>
            <th>Val 3</th>
            <th>Vol 3</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="stockcode in searchQuery" :key="stockcode.a" class="price"
              :class="{price_raise: stockcode.k>0, price_fall: stockcode.k<0}">
            <cell v-for="(val, key) in stockcode" :key="`${key}-${val}`" :id="`${stockcode.a}-${key}`" :val="val"
                  :col-name="key"/>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </default-layout>
</template>

<script>
import DefaultLayout from '@/views/layouts/default-layout'
import StockApi from '@/services/stock'
import TimeSeries from '@/components/charts/timeseries'
import Cell from '@/views/stock/Cell'

export default {
  name: 'liveboard',
  components: {
    Cell,
    DefaultLayout,
    TimeSeries
  },
  data () {
    return {
      liveboard: [],
      isLoading: false,
      search: '',
      test: '123'
    }
  },
  computed: {
    searchQuery () {
      let filteredData
      if (this.search) {
        filteredData = this.liveboard.filter((item) => {
          return item.a.toLowerCase().match(this.search.toLowerCase().trim(' '))
        })
      } else {
        filteredData = this.liveboard
      }
      return filteredData
    }
  },
  async mounted () {
    await this.getData()
    // setInterval(this.getData, 5000)
  },
  methods: {
    logData (e) {
      console.log(e)
    },
    async getData () {
      this.liveboard = await StockApi.getLiveboard(1)
    },
    cellId (stockcode, name) {
      return `${stockcode.a.toLowerCase()}${name}`
    },
    cellVal (stockcode, name) {
      return stockcode[name]
    },
    filterStockCode (stockCode) {
      return stockCode.filter((val) => {
        const regex = /[a-w]?/g
        return val.match(regex)
      })
    }
  }
}
</script>

<style scoped lang="scss">
table {
  min-width: 992px;
  font-size: 12px;
  width: 100%;
  border: 1px solid #ffffff;

  th, td {
    border: 1px solid rgb(255, 255, 255, 0.1);
    border-collapse: collapse;
  }

  th {
    background-color: #000000;
    position: sticky;
    top: 0;
  }

  .col_child th {
    position: sticky;
    top: 19px !important;
  }
}

.table {
  &-box {
    width: 100%;
    height: 800px;
  }

  &-header {
    font-size: 12px;
    position: fixed;
    top: 56px;
    width: 100%;
    z-index: 99;
  }

  &-body {
    font-size: 12px;
    width: 100%;
    margin-top: 100px;

    td {
    }
  }
}

.col {
  &_reference {
    color: #ffcc00 !important;
  }

  &_ceiling {
    color: magenta !important;
  }

  &_floor {
    color: cyan !important;
  }

  &_total {
    color: #FFFFFF !important;
  }
}

.price {
  color: #ffcc00 !important;

  &_raise {
    color: lime !important;
  }

  &_fall {
    color: red !important;
  }
}
</style>
