<template>
  <div>
    <div v-if="notifs.length === 0">
      You don't have any new notifications
    </div>
    <div v-else>
      <div v-for="notif in notifs" :key="notif.id" class="dropdown-item">
        <router-link :to="{ name: 'enterprise.detail', params: {id: notif.stock_id } }" class="text-decoration-none" title="Stock info">
          {{ notif.code }}
        </router-link>
        <span> : Target price -> {{ notif.target_price }} VND </span><br>
        <span> Recommendation -> {{ notif.recommendation }} </span><br>
        <span> Created: {{ notif.created_time }} </span><br>
        <button @click="delete_notif(notif.id)">
          <i class="fas fa-trash-alt" title="Delete notif"></i>
        </button>
        <button @click="unbookmark(notif.stock_id)" style="padding-left: 10px">
          <i class="fas fa-bookmark" title="Un bookmark"></i>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import StockApi from '@/services/stock'

export default {
  name: 'notification',
  data () {
    return {
      notifs: ''
    }
  },
  methods: {
    async unbookmark (id) {
      const res = await StockApi.bookmark(id)
      if (res.status) {
        this.notifs = await StockApi.getNotifs()
      }
    },
    async delete_notif (id) {
      const res = await StockApi.delete_notif(id)
      if (res.status) {
        this.notifs = await StockApi.getNotifs()
      }
    }
  },
  async mounted () {
    this.notifs = await StockApi.getNotifs()
  }
}
</script>
