<template>
  <div>Home Page</div>
</template>

<script>

export default {
  name: 'Redirect',
  computed: {
    getToken () {
      return localStorage.getItem('token')
    }
  },
  mounted () {
    location.href = '/stock/liveboard'
  }
}
</script>

<style scoped>

</style>
