<template>
  <transition name="dropdown">
    <div class="dropdown position-relative">
      <div class="dropdown__title w--full btn p-0 position-relative">
        <slot name="title"/>
      </div>
      <div class="dropdown__menu border shadow text-center bg-white" v-if="active" :style="{'width': width}">
        <slot/>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: 'dropdown__menu',
  props: {
    width: {
      type: String,
      default: ''
    },
    active: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      showMenu: false
    }
  },
  methods: {
    toggleMenu () {
      this.active = !this.active
    }
  }
}
</script>

<style lang="scss">
.dropdown {
}

.dropdown__menu {
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 10;
  min-width: 200px;
  width: auto;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #151e5d;
  padding: 5px 2px;

  &__nav {
  }

  &__item {
    text-align: center;
    transition: all 0.2s ease-out;
    /*border-radius: 5px;*/
    padding: 6px;

    &:hover {
      background-color: #151e5d;
      color: #ffffff;
    }

    &:active {
      background-color: #151e5d;
      color: #ffffff
    }
  }

  &__url {
  }

  &__text {
    &:hover {
    }
  }
}
</style>
