@import "custom_kien";
@import "custom_quan";

$main-color: #151e5d;
*{
  padding:0;
  margin: 0;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

img{
  max-width: 100%;
}

a{
  color:#000;
  text-decoration:none;
}

a:hover{opacity:0.7;}

li{
  list-style-type: none;
}

body{
  overflow-x: hidden;
  color:#282828;
  font-size:16px;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing:1px;
  line-height: 200%;
  background:#FFF !important;
}

.fleft {
  float: left;
}
.fright {
  float: right;
}
.clear {
  clear: both;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-muted {
  color: #777777;
}
.text-primary {
  color: #337ab7;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #286090;
}
.text-success {
  color: #3c763d;
}
a.text-success:hover,
a.text-success:focus {
  color: #2b542c;
}
.text-info {
  color: #31708f;
}
a.text-info:hover,
a.text-info:focus {
  color: #245269;
}
.text-warning {
  color: #8a6d3b;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #66512c;
}
.text-danger {
  color: #a94442;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #843534;
}
.bg-primary {
  color: #fff;
  background-color: #337ab7;
}
a.bg-primary:hover,
a.bg-primary:focus {
  background-color: #286090;
}
.bg-success {
  background-color: #dff0d8;
}
a.bg-success:hover,
a.bg-success:focus {
  background-color: #c1e2b3;
}
.bg-info {
  background-color: #d9edf7;
}
a.bg-info:hover,
a.bg-info:focus {
  background-color: #afd9ee;
}
.bg-warning {
  background-color: #fcf8e3;
}
a.bg-warning:hover,
a.bg-warning:focus {
  background-color: #f7ecb5;
}
.bg-danger {
  background-color: #f2dede;
}
a.bg-danger:hover,
a.bg-danger:focus {
  background-color: #e4b9b9;
}
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
}
.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  display: table;
  content: " ";
}
.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}


.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-5ths {
  width: 100%;
  float: left;
}

@media (min-width: 768px) {
  .col-xs-5ths {
    width: 100%;
    float: left;
  }
}

@media (min-width: 1160px) {
  .col-xs-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-xs-5ths {
    width: 20%;
    float: left;
  }
}

//============//
.col-xs-4ths,
.col-sm-4ths,
.col-md-4ths,
.col-lg-4ths {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-4ths {
  width: 100%;
  float: left;
}
input{
  &:focus {
    outline: none;
    box-shadow: none !important;
  }
}
@media (min-width: 768px) {
  .col-xs-4ths {
    width: 100%;
    float: left;
  }
}

@media (min-width: 1160px) {
  .col-xs-4ths {
    width: 25%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-xs-4ths {
    width: 25%;
    float: left;
  }
}

.modal-categories {
  .modal__content--inner {
    height: 80vh;
  }
}

.btn {
  &--primary {
    background-color: #13226B !important;
    color: #FFFFFF !important;
  }
}

.table-fixed tbody {
  height: 300px;
  overflow-y: auto;
  width: 100%;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
  display: block;
}

.table-fixed tbody td,
.table-fixed tbody th,
.table-fixed thead > tr > th {
  float: left;
  position: relative;

  &::after {
    content: '';
    clear: both;
    display: block;
  }
}
.vertical{
  &--middle{
    top: 50%;
    position: relative;
    transform: translate(0, -50%);
  }
}

.overflow {
  &-x{
    &-auto {
      overflow-x: auto;
    }
  }
  &-y {
    &-auto{
      overflow-y: auto;
    }
  }
}

.text{
  &-main {
    color: $main-color;
  }
}