.bg{
  &--gray {
    background-color: rgba(0,0,0,0.05) !important;
  }
}

.w{
  &--full{
    width: 100% !important;
  }
  &--90{
    width: 90% !important;
  }
  &--80{
    width: 80% !important;
  }
  &--75{
    width: 75% !important;
  }
  &--70{
    width: 70% !important;
  }
  &--60{
    width: 60% !important;
  }
  &--50{
    width: 50% !important;
  }
  &--40{
    width: 40% !important;
  }
  &--30{
    width: 30% !important;
  }
  &--25{
    width: 25% !important;
  }
  &--20{
    width: 20% !important;
  }
  &--10{
    width: 10% !important;
  }
  @media (min-width: 320px) {
    &-xs{
      &--full{
        width: 100% !important;
      }
      &--90{
        width: 90% !important;
      }
      &--80{
        width: 80% !important;
      }
      &--75{
        width: 75% !important;
      }
      &--70{
        width: 70% !important;
      }
      &--60{
        width: 60% !important;
      }
      &--50{
        width: 50% !important;
      }
      &--40{
        width: 40% !important;
      }
      &--30{
        width: 30% !important;
      }
      &--25{
        width: 25% !important;
      }
      &--20{
        width: 20% !important;
      }
      &--10{
        width: 10% !important;
      }
    }
  }
  @media (min-width: 576px) {
    &-sm{
      &--full{
        width: 100% !important;
      }
      &--90{
        width: 90% !important;
      }
      &--80{
        width: 80% !important;
      }
      &--75{
        width: 75% !important;
      }
      &--70{
        width: 70% !important;
      }
      &--60{
        width: 60% !important;
      }
      &--50{
        width: 50% !important;
      }
      &--40{
        width: 40% !important;
      }
      &--30{
        width: 30% !important;
      }
      &--25{
        width: 25% !important;
      }
      &--20{
        width: 20% !important;
      }
      &--10{
        width: 10% !important;
      }
    }
  }
  @media (min-width: 768px) {
    &-md{
      &--full{
        width: 100% !important;
      }
      &--90{
        width: 90% !important;
      }
      &--80{
        width: 80% !important;
      }
      &--75{
        width: 75% !important;
      }
      &--70{
        width: 70% !important;
      }
      &--60{
        width: 60% !important;
      }
      &--50{
        width: 50% !important;
      }
      &--40{
        width: 40% !important;
      }
      &--30{
        width: 30% !important;
      }
      &--25{
        width: 25% !important;
      }
      &--20{
        width: 20% !important;
      }
      &--10{
        width: 10% !important;
      }
    }
  }
  @media (min-width: 992px) {
    &-lg{
      &--full{
        width: 100% !important;
      }
      &--90{
        width: 90% !important;
      }
      &--80{
        width: 80% !important;
      }
      &--75{
        width: 75% !important;
      }
      &--70{
        width: 70% !important;
      }
      &--60{
        width: 60% !important;
      }
      &--50{
        width: 50% !important;
      }
      &--40{
        width: 40% !important;
      }
      &--30{
        width: 30% !important;
      }
      &--25{
        width: 25% !important;
      }
      &--20{
        width: 20% !important;
      }
      &--10{
        width: 10% !important;
      }
    }
  }
  @media (min-width: 1200px) {
    &-xl{
      &--full{
        width: 100% !important;
      }
      &--90{
        width: 90% !important;
      }
      &--80{
        width: 80% !important;
      }
      &--75{
        width: 75% !important;
      }
      &--70{
        width: 70% !important;
      }
      &--60{
        width: 60% !important;
      }
      &--50{
        width: 50% !important;
      }
      &--40{
        width: 40% !important;
      }
      &--30{
        width: 30% !important;
      }
      &--25{
        width: 25% !important;
      }
      &--20{
        width: 20% !important;
      }
      &--10{
        width: 10% !important;
      }
    }
  }
}
.vw{
  &--full{
    width: 100vw !important;
  }
  &--90{
    width: 90vw !important;
  }
  &--80{
    width: 80vw !important;
  }
  &--75{
    width: 75vw !important;
  }
  &--70{
    width: 70vw !important;
  }
  &--60{
    width: 60vw !important;
  }
  &--50{
    width: 50vw !important;
  }
  &--40{
    width: 40vw !important;
  }
  &--30{
    width: 30vw !important;
  }
  &--25{
    width: 25vw !important;
  }
  &--20{
    width: 20vw !important;
  }
  &--10{
    width: 10vw !important;
  }
  @media (min-width: 320px) {
    &-xs{
      &--full{
        width: 100vw !important;
      }
      &--90{
        width: 90vw !important;
      }
      &--80{
        width: 80vw !important;
      }
      &--75{
        width: 75vw !important;
      }
      &--70{
        width: 70vw !important;
      }
      &--60{
        width: 60vw !important;
      }
      &--50{
        width: 50vw !important;
      }
      &--40{
        width: 40vw !important;
      }
      &--30{
        width: 30vw !important;
      }
      &--25{
        width: 25vw !important;
      }
      &--20{
        width: 20vw !important;
      }
      &--10{
        width: 10vw !important;
      }
    }
  }
  @media (min-width: 576px) {
    &-sm{
      &--full{
        width: 100vw !important;
      }
      &--90{
        width: 90vw !important;
      }
      &--80{
        width: 80vw !important;
      }
      &--75{
        width: 75vw !important;
      }
      &--70{
        width: 70vw !important;
      }
      &--60{
        width: 60vw !important;
      }
      &--50{
        width: 50vw !important;
      }
      &--40{
        width: 40vw !important;
      }
      &--30{
        width: 30vw !important;
      }
      &--25{
        width: 25vw !important;
      }
      &--20{
        width: 20vw !important;
      }
      &--10{
        width: 10vw !important;
      }
    }
  }
  @media (min-width: 768px) {
    &-md{
      &--full{
        width: 100vw !important;
      }
      &--90{
        width: 90vw !important;
      }
      &--80{
        width: 80vw !important;
      }
      &--75{
        width: 75vw !important;
      }
      &--70{
        width: 70vw !important;
      }
      &--60{
        width: 60vw !important;
      }
      &--50{
        width: 50vw !important;
      }
      &--40{
        width: 40vw !important;
      }
      &--30{
        width: 30vw !important;
      }
      &--25{
        width: 25vw !important;
      }
      &--20{
        width: 20vw !important;
      }
      &--10{
        width: 10vw !important;
      }
    }
  }
  @media (min-width: 992px) {
    &-lg{
      &--full{
        width: 100vw !important;
      }
      &--90{
        width: 90vw !important;
      }
      &--80{
        width: 80vw !important;
      }
      &--75{
        width: 75vw !important;
      }
      &--70{
        width: 70vw !important;
      }
      &--60{
        width: 60vw !important;
      }
      &--50{
        width: 50vw !important;
      }
      &--40{
        width: 40vw !important;
      }
      &--30{
        width: 30vw !important;
      }
      &--25{
        width: 25vw !important;
      }
      &--20{
        width: 20vw !important;
      }
      &--10{
        width: 10vw !important;
      }
    }
  }
  @media (min-width: 1200px) {
    &-xl{
      &--full{
        width: 100vw !important;
      }
      &--90{
        width: 90vw !important;
      }
      &--80{
        width: 80vw !important;
      }
      &--75{
        width: 75vw !important;
      }
      &--70{
        width: 70vw !important;
      }
      &--60{
        width: 60vw !important;
      }
      &--50{
        width: 50vw !important;
      }
      &--40{
        width: 40vw !important;
      }
      &--30{
        width: 30vw !important;
      }
      &--25{
        width: 25vw !important;
      }
      &--20{
        width: 20vw !important;
      }
      &--10{
        width: 10vw !important;
      }
    }
  }
}

.btn{
  &:focus{
    box-shadow: none !important;
  }
}

table {
  th,td {
    vertical-align: middle !important;
  }
  th {
    text-align: center;
  }
}

.stock {
  &-icon {
    width: 25px;
    height: 25px;
  }
}
