<template>
  <Modal title="Edit profile" @updateModalVisible="onClose" width="700px">
    <div class="form">
      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            Username
          </div>
          <div class="col-md-9">
            <input type="text" class="form-control" v-model="user.username">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            Email
          </div>
          <div class="col-md-9">
            <input type="text" class="form-control" v-model="user.email">
          </div>
        </div>
      </div>
    </div>
    <template #footer>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-8 mx-auto">
          <button class="btn btn--primary w--full" @click="onSave">Save</button>
        </div>
      </div>
    </template>
  </Modal>
</template>

<script>
import Modal from '@/components/partials/modal'
import UserApi from '@/services/user'

export default {
  name: 'editUser',
  components: {
    Modal
  },
  props: ['userID', 'onClose'],
  data () {
    return {
      user: ''
    }
  },
  async mounted () {
    this.user = await UserApi.editUser(this.userID)
  },
  methods: {
    async onSave () {
      if (this.user) {
        try {
          const res = await UserApi.updateUser(this.userID, this.user)
          if (res.status) {
            location.reload()
          }
        } catch (e) {
          console.log(e)
        }
      }
    }
  }
}
</script>

<style scoped>

</style>
