<template>
    <default-layout>
      <div style="text-align: center;" class="page__title">
        <br><h3>Profile</h3>
      </div><br>
      <div class="container">
          <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6">
                  <div class="row">
                      <div class="col-sm-6 col-md-4">
                          <img src="https://bonchon.com.vn/sites/all/themes/giaidieu/images/anonymous.jpg" alt=""/>
                      </div>
                      <div class="col-sm-6 col-md-8">
                          <h4> {{ profile.username }} </h4>
                          <small>Email: {{ profile.email }}</small><br>
                          <small>Tel: 0123456789</small><br>
                          <small>Address: Hanoi, Vietnam </small><br>
                          <el-button type="primary" icon="el-icon-edit" style="margin-top: 10px;" @click="toggleEdit(profile.id)">Edit profile</el-button>
                      </div>
                  </div>
              </div>
          </div>
          <EditUser :userID="selectedId" v-if="editModal" :onClose="toggleEdit"/>
      </div>
    </default-layout>
</template>

<script>
import EditUser from '@/components/modals/editUser'
import DefaultLayout from '@/views/layouts/default-layout'
import UserApi from '@/services/user'

export default {
  name: 'profile',
  components: {
    DefaultLayout,
    EditUser
  },
  data () {
    return {
      profile: [],
      selectedId: '',
      editModal: false
    }
  },
  methods: {
    toggleEdit (id) {
      this.editModal = !this.editModal
      this.selectedId = id
    }
  },
  async mounted () {
    this.profile = await UserApi.userProfile()
  }
}
</script>
