<template lang="html">
  <empty-layout>
    <div v-if="!isLoading" class="signInComponent">
      <div class="signInBox">
        <div class="signInLogoBox">
          <img :src="require('@/assets/logo.png')"/>
        </div>
        <div class="signInTitleBox">
          Stock Analysis
        </div>
        <p class="error" v-if="message">{{ message }}</p>
        <div class="form">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" v-model="formData.username">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Email" v-model="formData.email" autocomplete="off">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" v-model="formData.password1" autocomplete="new-password">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Confirm password" v-model="formData.password2">
          </div>
        </div>
        <div class="signInButtonBox">
          <Button :click="doRegister">
            <span class="signInButtonText">Register</span>
          </Button>
        </div>
        <div class="signInResetPassword">
          <router-link :to="{name: 'user.login'}">
            I already have an account
          </router-link>
        </div>
      </div>
    </div>
  </empty-layout>
</template>

<script lang="js">

import { mapGetters } from 'vuex'
import EmptyLayout from '@/views/layouts/empty-layout'
import Button from '@/components/partials/button'
import AuthApi from '@/services/auth'

export default {
  name: 'register',
  components: {
    EmptyLayout,
    Button
  },
  data () {
    return {
      formData: {
        username: '',
        email: '',
        password1: '',
        password2: ''
      },
      message: ''
    }
  },
  computed: {
    ...mapGetters({ isAdminPage: 'isAdminPage', isLoading: 'isLoading', user: 'user' })
  },
  methods: {
    onKeyUp (e) {
      if (e.key === 'Enter') {
        this.doRegister()
      }
    },
    async doRegister () {
      let canSave = true
      if (!this.formData.username || !(/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+(?:\.[a-zA-Z0-9-]+)*$/.test(this.formData.username))) {
        this.message = 'Username is required'
        canSave = false
      } else {
        this.message = ''
      }
      if (!canSave) {
        return
      }
      this.formData.username = this.formData.username.toLowerCase().trim()
      let resultData = await AuthApi.register(this.formData) // Call api to register
      if (resultData.status) {
        this.$router.push('/user/login')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.signInComponent {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.error {
  color: red;
  margin-bottom: 15px;
  font-size: 14px;
}

.signInBox {
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 472px;
  padding: 32px 56px;
  border-radius: 8px;
  box-shadow: 0 2px 6px -4px rgba(130, 136, 148, 0.48),
  0 0 2px 0 rgba(130, 136, 148, 0.16);
  background-color: #fff;

  @media only screen and (max-width: 767px) {
    width: 90% !important;
  }

  @media only screen and (max-width: 374px) {
    padding: 32px
  }

  &.sm {
    width: 90%;
    height: 426px;
    max-height: 95%;
    padding: 32px 24px;
  }

  &.md {
    width: 90%;
    max-height: 95%;
    padding: 32px 24px;
  }
}

.signInLogoBox {
  width: 80px;
  margin: 0 auto 16px auto;

  &.sm {
    width: 60px;
  }

  &.md {
    width: 60px;
  }

  img {
    max-width: 100%;
  }
}

.signInTitleBox {
  font-size: 26px;
  font-weight: 500;
  color: #24374e;
  margin-bottom: 32px;
  letter-spacing: 1.6px;

  &.sm {
    font-size: 20px;
    margin-bottom: 24px;
  }

  &.md {
    font-size: 24px;
    margin-bottom: 16px;
  }
}

.signInEmailBox {
  position: relative;
  width: 100%;
  height: 40px;
  margin-bottom: 16px;

  svg {
    fill: #9aa8bd;
    position: absolute;
    z-index: 1;
    left: 8px;
    top: 9px;
  }
}

.signInPasswordBox {
  position: relative;
  width: 100%;
  height: 40px;
  margin-bottom: 24px;
  font-family: HiraginoKaku-W3-90msp-RKSJ-H, serif;

  svg {
    fill: #9aa8bd;
    position: absolute;
    z-index: 1;
    left: 8px;
    top: 9px;
  }
}

.signInButtonBox {
  width: 100%;
  height: 48px;
  margin-bottom: 20px;
}

.signInButtonText {
  line-height: 48px;
}

.signInResetPassword {
  font-size: 14px;
  line-height: 1;
  text-align: center;

  &.sm {
    display: none;
  }

  &.md {
    display: none;
  }

  a {
    color: #24374e;
    text-decoration: none;
  }
}

.nameStore {
  margin-bottom: 25px;
  font-size: 22px;
  margin-top: -20px;
}
</style>
