<template>
  <admin-layout>
    <div class="card rounded-lg">
      <div class="card-body">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Options</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(user, index) in userList" :key="index">
            <th scope="row">{{ index + 1 }}</th>
            <td class="text-center">{{ user.username }}</td>
            <td class="text-center">{{ user.email }}</td>
            <td class="text-center">{{ user.role }}</td>
            <td class="text-center">
              <button class="btn" title="Block user" @click="toggleModal(user.id)" v-if="user.id !== currentUser.id">
                <i class="fas fa-user-lock"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <confirmDelete v-if="confirmModal" title="Block user" message="This user will be blocked permanently. Continue?"
                   :onClose="toggleModal" :onConfirm="deleteUser"/>
  </admin-layout>
</template>

<script>
import AdminLayout from '@/views/layouts/admin-layout'
import UserApi from '@/services/user'
import confirmDelete from '../../components/modals/confirmDelete'

export default {
  name: 'user_list',
  components: {
    AdminLayout,
    confirmDelete
  },
  async mounted () {
    this.currentUser = await UserApi.userProfile()
    this.userList = await UserApi.getUserList()
  },
  data () {
    return {
      currentUser: {},
      userList: [],
      confirmModal: false,
      selectedId: ''
    }
  },
  methods: {
    toggleModal (id) {
      this.confirmModal = !this.confirmModal
      this.selectedId = id
    },
    async deleteUser () {
      const res = await UserApi.deleteUser(this.selectedId)
      if (res.status) {
        location.reload()
      }
    }
  }
}
</script>

<style scoped>

</style>
