<template>
  <div id="stockchart"></div>
</template>

<script>
import Plotly from 'plotly.js-dist'

export default {
  name: 'CandleStick',
  props: {
    stockData: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      chartData: {
        date: [],
        open: [],
        close: [],
        low: [],
        high: []
      }
    }
  },
  mounted () {
    this.importData()
    this.createChart()
  },
  methods: {
    importData () {
      this.stockData.forEach(item => {
        let date = new Date(item.TradingDate)
        date = date.getFullYear() + '-' + date.getMonth() + '-' + date.getDate()
        this.chartData.date.push(date)
        this.chartData.open.push(item.OpenPrice)
        this.chartData.close.push(item.ClosePrice)
        this.chartData.low.push(item.LowestPrice)
        this.chartData.high.push(item.HighestPrice)
      })
    },
    createChart () {
      let trace1 = {

        x: this.chartData.date,

        close: this.chartData.close,

        decreasing: { line: { color: '#e03535' } },

        high: this.chartData.high,

        increasing: { line: { color: '#1bad3a' } },

        line: { color: 'rgba(31,119,180,1)' },

        low: this.chartData.low,

        open: this.chartData.open,

        type: 'candlestick',
        xaxis: 'x',
        yaxis: 'y'
      }

      var data = [trace1]

      var layout = {
        dragmode: 'zoom',
        margin: {
          r: 10,
          t: 25,
          b: 40,
          l: 60
        },
        showlegend: false,
        xaxis: {
          autorange: true,
          domain: [0, 1],
          range: [this.chartData.date[0], this.chartData.date[50]],
          rangeslider: { range: [this.chartData.date[0], this.chartData.date[50]] },
          title: 'Date',
          type: 'date'
        },
        yaxis: {
          autorange: true,
          domain: [0, 1],
          range: [Math.min(...this.chartData.low), Math.max(...this.chartData.high)],
          type: 'linear'
        }
      }
      // const domElement = document.getElementById('stockchart')
      Plotly.plot('stockchart', data, layout)
    }
  }
}
</script>

<style scoped>

</style>
