<template>
  <div class="position-relative">
    <div class="timeseries-latest w--full text-white">
      <div
        class="row"
        :class="lastIndex.percent > 0 ? 'text-success' : 'text-danger'"
      >
        <div class="col-6">
          {{ lastIndex.index }}
        </div>
        <div class="col-6">
          <i class="fas fa-arrow-up" v-if="lastIndex.change > 0"></i>
          <i class="fas fa-arrow-down" v-else></i>
          {{ lastIndex.change }} ({{ lastIndex.percent }} %)
        </div>
      </div>
      <div class="row">
        <div class="col-6">{{ lastIndex.volume }} cp</div>
        <div class="col-6">{{ lastIndex.value }} tỷ</div>
      </div>
    </div>
    <div :id="'timeseries-' + code" style="width: 350px"></div>
  </div>
</template>

<script>
import Plotly from 'plotly.js-dist'
import StockApi from '@/services/stock'

export default {
  name: 'TimeSeries',
  props: ['code'],
  async mounted () {
    this.plotIndex()
    setInterval(this.updateData, 300000)
  },
  data () {
    return {
      stockPrice: '',
      stockData: [
        {
          x: [],
          y: [],
          type: 'line',
          line: { color: '#1b8b1c' }
        }
      ],
      layout: {
        title: {
          text: this.code,
          font: {
            color: '#ffc107'
          }
        },
        showlegend: false,
        autosize: false,
        width: 350,
        height: 250,
        margin: {
          l: 40,
          r: 40,
          b: 30
        },
        xaxis: {
          showgrid: false,
          zeroline: true,
          mirror: 'ticks',
          zerolinecolor: '#969696',
          zerolinewidth: 1
        },
        yaxis: {
          autorange: true,
          showgrid: true,
          zeroline: true,
          mirror: 'ticks',
          gridcolor: '#bdbdbd',
          gridwidth: 1,
          zerolinecolor: '#969696',
          zerolinewidth: 1
        },
        plot_bgcolor: '#343a40',
        paper_bgcolor: '#343a40',
        font: {
          family: 'Courier New, monospace',
          size: 9,
          color: '#ffffff'
        }
      },
      lastIndex: {
        index: '',
        change: '',
        percent: '',
        value: '',
        volume: ''
      },
      plotData: {
        x: [],
        y: []
      }
    }
  },
  computed: {},
  methods: {
    async getIndex () {
      // eslint-disable-next-line camelcase
      let query_data = {
        query_str:
          "SELECT * FROM index WHERE time >= '2021-05-26T00:00:00.000000000Z' AND time <= '2021-05-27T15:12:00Z'",
        code: this.code,
        type: 'index'
      }
      let res = await StockApi.query_data(query_data)
      this.stockData[0].x = res.time
      this.stockData[0].y = res.index
      let lastItem = res.time.length - 1
      this.lastIndex.index = res.index[lastItem]
      this.lastIndex.change = res.change[lastItem]
      this.lastIndex.percent = res.percent[lastItem]
      this.lastIndex.value = res.value[lastItem]
      this.lastIndex.volume = res.volume[lastItem]
    },
    plotChart () {
      this.stockData[0].line.color =
        this.lastIndex.percent > 0 ? '#1b8b1c' : '#dc3545'
      let id = 'timeseries-' + this.code
      Plotly.plot(id, this.stockData, this.layout, { displayModeBar: false })
    },
    async plotIndex () {
      await this.getIndex()
      this.plotChart()
    },
    async updateData () {
      let id = 'timeseries-' + this.code
      await this.getIndex()
      let update_data = {
        'x': [this.stockData[0].x],
        'y': [this.stockData[0].y]
      }
      Plotly.update(id, update_data)
    }
  }
}
</script>

<style scoped lang="scss">
.timeseries {
  &-latest {
    position: absolute;
    top: 55px;
    left: 40px;
    z-index: 99;
    font-size: 12px;
  }
  &-index {
  }
  &-percent {
  }
}
</style>
