<template>
  <div class="default-layout">
    <Loader :visible="isLoading" position="fixed"/>
    <div class="layout__content">
      <app-header/>
      <div class="app__container">
        <div class="sidebar__mobile">
          <app-sidebar-mobile class="fright" :onToggleSidebar="onToggleSidebar"/>
        </div>
        <div class="content__container">
          <div class="content__wrap" :class="wrapClass">
            <slot/>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import AppSidebarMobile from '../../components/sidebar-mobile'
import AppHeader from '../../components/header'
import Loader from '../../components/loader'
import { mapGetters } from 'vuex'

export default {
  name: 'default-layout',
  props: ['wrapClass'],
  components: {
    AppHeader,
    AppSidebarMobile,
    Loader
  },
  data () {
    return {
      showLoader: false,
      show: false
    }
  },
  computed: {
    ...mapGetters({
      isAdminPage: 'isAdminPage',
      isLoading: 'isLoading',
      user: 'user',
      store: 'store',
      profile: 'user'
    })
  },
  beforeMount () {
    this.show = localStorage.getItem('close_sidebar') === 'true'
  },
  methods: {
    onToggleSidebar (status) {
      this.show = !status
    }
  }
}
</script>

<style lang="scss" scoped>
.app__container {
  &:after {
    display: block;
    content: ' ';
    clear: both;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .content__wrap {
    background-color: #fff;
    padding: 20px;
  }
}

.default-layout {
  //background-color: #e9ebf1;
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
}
.sidebar__mobile {
  margin-left: 500px;
}

.content__container {
  width: 100%;
  padding-top: 56px;
  transition: all 0.4s ease-out;
}

@media (max-width: 768px) {
  .content__container{
    width: 100% !important;
    &.show {
      width: 100% !important;
    }
  }
  .app__container .content__wrap{
    padding: 10px;
  }
}
</style>
