<template>
  <Modal :title="title" @updateModalVisible="onClose" width="700px">
    <div class="message">
      {{message}}
    </div>
    <template #footer>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-8 mx-auto">
          <button class="btn btn-secondary w--full" @click="onClose">Cancel</button>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-8 mx-auto">
          <button class="btn btn--primary w--full" @click="onConfirm">Confirm</button>
        </div>
      </div>
    </template>
  </Modal>
</template>

<script>
import Modal from '@/components/partials/modal'

export default {
  name: 'confirmDelete',
  components: {
    Modal
  },
  props: {
    title: {
      type: String,
      default: 'Confirm deletion'
    },
    message: {
      type: String,
      default: 'Are you sure?'
    },
    onClose: {
      type: Function,
      required: true
    },
    onConfirm: {
      type: Function,
      required: true
    }
  }
}
</script>

<style scoped>

</style>
