<template>
  <Modal title="Edit Enterprise Information" @updateModalVisible="onClose" width="700px">
    <div class="form">
      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            Stock Code
          </div>
          <div class="col-md-9">
            <input type="text" class="form-control" disabled v-model="stock.stock_code">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            Company Name
          </div>
          <div class="col-md-9">
            <input type="text" class="form-control" v-model="stock.name">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            Description
          </div>
          <div class="col-md-9">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" v-model="stock.description"></textarea>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            Capital
          </div>
          <div class="col-md-9">
            <input type="text" class="form-control" v-model="stock.capital">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            Traded volume
          </div>
          <div class="col-md-9">
            <input type="text" class="form-control" v-model="stock.traded_volume">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            Listed amount
          </div>
          <div class="col-md-9">
            <input type="text" class="form-control" v-model="stock.listed_amount">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            Circulating amount
          </div>
          <div class="col-md-9">
            <input type="text" class="form-control" v-model="stock.circulating_amount">
          </div>
        </div>
      </div>
    </div>
    <template #footer>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-8 mx-auto">
          <button class="btn btn--primary w--full" @click="onSave">Save</button>
        </div>
      </div>
    </template>
  </Modal>
</template>

<script>
import Modal from '@/components/partials/modal'
import StockApi from '@/services/stock'

export default {
  name: 'editEnterprise',
  components: {
    Modal
  },
  props: ['stockID', 'onClose'],
  data () {
    return {
      stock: '',
      response: {
        type: '',
        message: ''
      }
    }
  },
  async mounted () {
    this.stock = await StockApi.getStockDetail(this.stockID)
  },
  methods: {
    async onSave () {
      if (this.stock) {
        this.stock.code = this.stock.stock_code
        try {
          const res = await StockApi.editEnterprise(this.stockID, this.stock)
          if (res.status) {
            this.response.type = 'success'
            this.response.message = 'Enterprise information updated successfully.'
          } else {
            this.response.type = 'danger'
            this.response.message = res.error
          }
        } catch (e) {
          console.log(e)
          this.response.type = 'danger'
          this.response.message = 'Error! Please try again.'
        }
        this.$emit('response', this.response)
      }
    }
  }
}
</script>

<style scoped>

</style>
