<template>
  <Modal title="Edit Stock Analysis Information" @updateModalVisible="onClose" width="700px">
    <div class="form">
      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            Stock Code
          </div>
          <div class="col-md-9">
            <input type="text" class="form-control" disabled v-model="stock.stock_code">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            Company Name
          </div>
          <div class="col-md-9">
            <input type="text" class="form-control" disabled v-model="stock.company_name">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            Target
          </div>
          <div class="col-md-9">
            <input type="text" class="form-control" v-model="stock.target_price">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            Current
          </div>
          <div class="col-md-9">
            <input type="text" class="form-control" v-model="stock.current_price">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            Rate
          </div>
          <div class="col-md-9">
            <input type="text" class="form-control" v-model="stock.rate">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            Recommendation
          </div>
          <div class="col-md-9">
            <input type="text" class="form-control" v-model="stock.recommendation">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            Updated date
          </div>
          <div class="col-md-9">
            <input type="text" class="form-control" v-model="stock.published_date">
          </div>
        </div>
      </div>
    </div>
    <template #footer>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-8 mx-auto">
          <button class="btn btn--primary w--full" @click="onSave">Save</button>
        </div>
      </div>
    </template>
  </Modal>
</template>

<script>
import Modal from '@/components/partials/modal'
import StockApi from '@/services/stock'

export default {
  name: 'editStockAnalysis',
  components: {
    Modal
  },
  props: ['stockID', 'onClose'],
  data () {
    return {
      stock: '',
      response: {
        type: '',
        message: ''
      }
    }
  },
  async mounted () {
    this.stock = await StockApi.editStockAnalysis(this.stockID)
  },
  methods: {
    async onSave () {
      if (this.stock) {
        try {
          const res = await StockApi.updateStockAnalysis(this.stockID, this.stock)
          if (res.status) {
            this.response.type = 'success'
            this.response.message = 'Analysis updated successfully.'
          } else {
            this.response.type = 'danger'
            this.response.message = res.error
          }
        } catch (e) {
          console.log(e)
          this.response.type = 'danger'
          this.response.message = 'Error! Please try again.'
        }
        this.$emit('response', this.response)
      }
    }
  }
}
</script>

<style scoped>

</style>
