<template>
  <div class="header">
    <div class="row">
      <div class="col-md-3">
        <router-link :to="{name: 'stock.analysis'}" class="header__logo text-decoration-none w-auto">
          <img :src="require('../assets/logo.png')" alt="logo"/>
          <span class="text-white">Stock Analysis</span>
        </router-link>
      </div>
      <div class="col-md-9">
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <router-link :to="{ name: 'stock.analysis' }" class="nav-link">
                  <span style="color: #fff">Stock Analysis</span>
                </router-link>
              </li>
              <li class="nav-item">
                <router-link :to="{ name: 'enterprise.list' }" class="nav-link">
                  <span style="color: #fff">Enterprise List</span>
                </router-link>
              </li>
              <li class="nav-item">
                <router-link :to="{ name: 'stock.liveboard' }" class="nav-link">
                  <span style="color: #fff">Live board</span>
                </router-link>
              </li>
            </ul>
            <ul class="navbar-nav float-right">
              <li class="nav-item" v-if="isUser">
                <Dropdown :active="isActiveButton('bookmark') ">
                  <template #title>
                    <button class="btn text-white" @click="toggleButton('bookmark')" title="Bookmark List">
                      <div v-if="!isActiveButton('bookmark')"><i class="far fa-bookmark"></i></div>
                      <div v-if="isActiveButton('bookmark')"><i class="fas fa-bookmark"></i></div>
                    </button>
                  </template>
                  <Bookmark/>
                </Dropdown>
              </li>
              <li class="nav-item" v-if="isUser">
                <Dropdown width="300px" :active="isActiveButton('noti')">
                  <template #title>
                    <button class="btn position-relative text-white" @click="toggleButton('noti')" title="Notifications">
                      <div class="position-relative">
                        <i v-if="!isActiveButton('noti')" class="far fa-bell"></i>
                        <i v-if="isActiveButton('noti')" class="fas fa-bell"></i>
                        <span v-if="numberNotifs>0" class="badge badge-danger rounded-circle badge--noti"> {{ numberNotifs }} </span>
                      </div>
                    </button>
                  </template>
                  <Notif/>
                </Dropdown>
              </li>
              <li class="nav-item" v-if="isAdmin">
                <button class="btn text-white" @click="updateData" :disabled="updating" title="Update data">
                  <div class="spinner-border text-dark" role="status" v-if="updating">
                    <span class="sr-only" style="height: 35px; width: 35px">Loading...</span>
                  </div>
                  <span v-if="updating === false"><i class="fas fa-download"></i></span>
                </button>
              </li>
              <li class="nav-item" v-if="isAdmin">
                <router-link :to="{ name: 'admin.user.list' }" class="nav-link" title="User Management">
                  <i class="fas fa-users"></i>
                </router-link>
              </li>
              <li class="nav-item">
                <Dropdown :active="isActiveButton('setting')">
                  <template #title>
                    <button class="btn text-white" @click="toggleButton('setting')" title="Settings">
                      <div v-if="!isActiveButton('setting')"><i class="far fa-user-circle"></i></div>
                      <div v-if="isActiveButton('setting')"><i class="fas fa-user-circle"></i></div>
                    </button>
                  </template>
                  <div class="border-bottom text-white p-1" v-if="isUser">
                    <router-link class="dropdown-item" :to="{ name: 'user.profile' }">Profile</router-link>
                  </div>
                  <div class="border-bottom text-white p-1" v-if="isUser">
                    <router-link class="dropdown-item" :to="{ name: 'user.reset-password' }">Reset password</router-link>
                  </div>
                  <div class="text-white p-1" v-if="isUser">
                    <button class="dropdown-item" href="" @click="logout">Logout</button>
                  </div>
                  <div class="text-white p-1" v-if="!isUser">
                    <router-link class="dropdown-item" :to="{ name: 'user.login' }">Login</router-link>
                  </div>
                </Dropdown>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</template>

<script lang="js">
import Dropdown from '@/components/partials/dropdown-menu'
import Notif from '@/views/stock/notif'
import Bookmark from '@/views/stock/bookmark'
import AuthApi from '@/services/auth'
import axios from 'axios'
import StockApi from '@/services/stock'

export default {
  name: 'app-header',
  components: {
    Dropdown,
    Notif,
    Bookmark
  },
  computed: {
    isAdmin () {
      return localStorage.getItem('isAdmin') === 'true'
    },
    isUser () {
      return localStorage.getItem('token')
    }
  },
  data () {
    return {
      showMenu: false,
      avatar_url: '',
      isShowStoreName: false,
      activeButton: '',
      is_admin: false,
      updating: false,
      numberNotifs: 0
    }
  },
  methods: {
    toggleLoginUserMenu (state) {
      this.dispLoginUserMenu = state
    },
    logout () {
      AuthApi.logout()
      window.location.href = 'http://localhost:8080/user/login'
    },
    toggleDropdownMenu () {
      this.showMenu = !this.showMenu
    },
    closeDropdownMenu () {
      this.showMenu = false
    },
    toggleButton (button) {
      if (button === this.activeButton) {
        this.activeButton = ''
      } else {
        if (button === 'noti') {
          this.numberNotifs = 0
        }
        this.activeButton = button
      }
    },
    isActiveButton (button) {
      return this.activeButton === button
    },
    async updateData () {
      this.updating = true
      await StockApi.crawlStockAnalysis()
      this.updating = false
    }
  },
  created () {
    axios.defaults.headers.common['Authorization'] = localStorage.getItem('token')
    axios.get('http://127.0.0.1:8000/stock/notification/list').then(response => {
      this.numberNotifs = response.data.length
    })
  }
}
</script>

<style lang="scss" scoped>
.font-weight-bold {
  font-weight: bold
}
.badge--noti{
  position: absolute !important;
  top: -50% !important;
  right: -50% !important;
  transform: translate(50%, 0%) !important;
}
.nav-link.active {
  font-weight: bold;
}
.header {
  box-sizing: border-box;
  position: fixed;
  width: 100vw;
  background-color:#99b3ff;
  z-index: 999;

  &.sm {
    height: 42px;
    padding: 0 8px;
  }

  &.md {
    height: 42px;
    padding: 0 8px;
  }

  &__logo {
    display: flex;
    align-items: center;

    img {
      max-width: 100%;
      width: 70px;
      vertical-align: center;
      margin-right: 8px;
    }

    span {
      font-size: 24px;
      display: inline-block;
      font-weight: 600;
      line-height: 56px;
      color: #151e5d;
    }
  }

  &__actions {
    box-sizing: border-box;
    position: relative;
    height: 55px;
    display: flex;
    align-items: center;
    border-radius: 24px;
    padding-right: 26px;
    padding-left: 4px;
    cursor: pointer;

    &::after {
      border: 5px solid transparent;
      border-top-color: #9aa8bd;
      border-bottom-width: 0;
      right: 10px;
      content: '';
      display: block;
      top: 42%;
      position: absolute;
      width: 0;
    }
  }
}

.login {
  &__user {
    position: relative;

    .username {
      display: inline-block;
    }

    .avatar {
      max-width: 30px;
      margin-left: 15px;
      display: inline-block;
    }
  }
}

@media (max-width: 768px) {
  .header {
    padding: 0 10px !important;
  }
}

@media (max-width: 460px) {
  .header__logo {
    span {
      font-size: 18px;
    }

    img {
      width: 30px;
      height: 30px;
    }
  }
}

@media (max-width: 360px) {
  .header__logo {
    span {
      font-size: 16px;
    }

    img {
      width: 30px;
      height: 30px;
    }
  }

  .login__user {
    font-size: 12px;
  }
}
</style>
